.App {
  background-color: #fcfcfc;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding: 30px;
  margin: 0;
}

.region-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.region {
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px 20px 10px 0;
  list-style-type: none;
  width: 700px;
  background-color: rgb(135, 255, 255);
}

.region-title {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.country {
  border: 1px dotted black;
  margin: 20px 20px 10px 0;
  border-radius: 10px;
  list-style-type: none;
  background-color: white;
}

.country-title, .sort-title {
  font-size: 24px;
  margin: 10px;
}

.country-data {
  font-size: 16px;
  margin: 10px 10px 10px 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.sort-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sort-buttons button {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  color: black;
  margin: 10px;
}

.sort-buttons button:disabled {
  background-color: rgb(0, 89, 255);
  color: white;
}

@media screen and (max-width: 767px) {
  .region {
    width: 90vw;
  }
}